@charset "utf-8";
/* CSS Document */
body, html {
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-top:0px;
	background-color:#FFFFFF;
	height:100%; /* needed for container min-height */
}
.wclogo {
	background-image:url('../img/clean/Banner.jpg');
	background-position:TOP LEFT;
	background-repeat:no-repeat;
	height:121px;
	width:800px;
	float:left;
}
.copyright {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:x-small;
	color:#000000;
}
h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:large;
	color:#0772C2;
}
.content {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:small;
	color:#000000;
	}
div#container {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:100%;
	background:#FFFFFF;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}
div#header {
	padding:0em;
	background:#fff;
	background-image:url('../img/clean/BannerRepeat.jpg');
	background-position:top left;
	background-repeat:repeat-x;
	height:121px;
	
}
	div#header p {
		font-style:italic;
		font-size:1.1em;
		margin:0;
	}

div#content {
	
	padding:0em 0em 5em; /* bottom padding for footer */
	padding-left:10px;
	
}
	div#content p {
		text-align:justify;
		padding:0 1em;
	}
div#footer {
	position:absolute;
	width:100%;
	bottom:0;
	background-color:#DDDDDD;
	
	/* stick to bottom */
	
	
	}
	div#footer p {
		padding:0em;
		margin:0;
	}
	
h2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:small;
	}
.standard_link {color: #006699;}  /* visited link */
.standard_link:visited {color: #006699;}  /* visited link */
div#navbar {
	padding:0em;
	background-image:url('../img/clean/NavRepeater.jpg');
	background-repeat:repeat-x;
	height:38px;
	width:100%;
	
	
	}
.navleft {
	background-image:url('../img/clean/NavBar.jpg');
	background-position:top left;
	background-repeat:no-repeat;
	
	
	height:38px;
	
	}
.navright {
	background-image:url('../img/clean/NavRtCap.jpg');
	background-repeat:no-repeat;
	background-position:top right;
	
	height:38px;
	}
.navlink, .navlink:visited{
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:small;
	color:#000000;
	text-decoration:none;
	}
.navlink:hover{
	font-weight:bold;
	text-decoration: underline;
	}
.weather {
	float:left;
	padding-top:45px;
	width:20px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:small;
	}	
	
	.somethign {background-image:url(/phpincl/clean/images/B1S/B1R.jpg)